@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900|Exo+2:wght@100;200;300;400;500;600;700;800;900');

/*------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #2f4f4f;
}

.bg-color-about-me-summary {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #800000;
}

.ui-menu-color-education {
    background-color: #556b2f;
}

.ui-menu-color-work {
    background-color: #00ffff;
}

.ui-menu-color-portfolio {
    background-color: #8a2be2;
}

.ui-menu-color-contact {
    background-color: #a0522d;
}

/*------------------------------------------Special paddings/margins/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa; 
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300px;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------------------------Header*/

heading {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/ify.jpg");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.no-gutters {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.menucontainer {
    font-size: 0;
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    width: 20%; 
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 2px;
}

/*------------------------------------------Hover.css*/

.hvr-shutter-out-vertical {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*------------------------------------------footer*/

.container-fluid {
    background-color: #2f4f4f;
    color: #fafafa;
    min-height: 160px;
    margin: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.cv-pdf i {
    font-size: 18px;
    text-align: center;
    color: #fafafa;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #b8860b;
}

.social-links {
    padding: 15px;
}

.social-links li a i {
    width: 36;
    height: 36;
    padding: 12, 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #778899;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #b8860b;
}

#footer-details {
    padding: 20px;
}